<div class="container">
  <div class="row">
    <div class="col-12 mx-5"><h2> Invoice FA210006 </h2></div>
  </div>
  <div class="row m-1 ">
    <div class="col-6  p-5">
      <div class="row rectangle">
        <div class="col-6 ">
          <div class="title mx-5">
            <b>Suplier</b>
          </div>
          <div class="text mx-5">
            <b>WEBGANG, s.r.o</b> <br> Brekov 364 <br> 06601 Humenne <br> Slovensko <br>
            <br> <b>Reg. #:</b>
            52535819 <br> <b>Tax #:</b> 2120650156 <br> <b>Vat #:</b> SK2120650156
          </div>
        </div>

        <div class="col-6">
          <div class="text mt-2">
            <br>
            <b>Phone:</b>
            0915 789 456
            <br>
            <b>Email:</b>
            sepela@webgang.sk
            <br>
            <b>Web:</b>
            www.webgang.com
            <br>
            <b>Issuer:</b>
            Tomas Sepela
          </div>
        </div>

      </div>
    </div>


    <div class="col-6  p-5">
      <div class="row rectangle color-customer">
        <div class="col-6">
          <div class="title mx-5">
            <b>Customer</b>
          </div>
          <div class="text mx-5">
            <b>WEBGANG, s.r.o</b> <br> Brekov 364 <br> 06601 Humenne <br> Slovensko <br>
            <br> <b>Reg. #:</b>
            52535819 <br> <b>Tax #:</b> 2120650156 <br> <b>Vat #:</b> SK2120650156
          </div>
        </div>

        <div class="col-6">
          <div class="text mt-2">
            <br>
            <b>Phone:</b>
            0915 789 456
            <br>
            <b>Email:</b>
            sepela@webgang.sk
            <br>
            <b>Web:</b>
            www.webgang.com
            <br>
            <b>Issuer:</b>
            Tomas Sepela
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row m-1">
    <div class="col-6 p-5">
      <div class="row text">
        <div class="col-4">
          Issued date
          <br>
          <b>1.9.2021</b>
          <br>
          <br>
          Delivery date
          <br>
          <b>1.9.2021</b>
          <br>
          <br>
          Due date
          <br>
          <b>1.9.2021</b>
        </div>
        <div class="col-4">
          Payment method
          <br>

          <b>Bank transaction</b>
          <br>
          <br>
          Delivery method
          <br>

          <b>Personal</b>
          <br>
          <br>
          Currency
          <br>
          <b>Eur (€)</b>
        </div>
        <div class="col-4 qrCode">

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row payment-rectangle color-payment">
        <div class="col-12 p-3">
          <div class="title mx-5"><b>Payment information</b></div>
          <div class="row">
            <div class="col-6 mx-5 text">
              IBAN
              <br>
              <b>SK34 1100 0000 0029 4507 3734</b>
              <br>
              <br>
              <b>SWIFT:</b>
              TATRSKBX
              <br>
              <b>VS:</b>
              210022
              <br>
              <b>Grand total:</b>
              2592,00 €

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 px-0 mx-3 introductoryText">
      <input class="introductory-input" type="text">
      <div class="text topLeftText">
        Introductory Text
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover tableText">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Price w/o VAT</th>
          <th scope="col">Price w/o VAT</th>
          <th scope="col">Price w/o VAT</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Business Card</td>
          <td>1 ks</td>
          <td>9 999 999 €</td>
          <td>20%</td>
          <td>9 999 999 €</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Leaflet</td>
          <td>1 ks</td>
          <td>9 999 999 €</td>
          <td>20%</td>
          <td>9 999 999 €</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Billboard</td>
          <td>1 ks</td>
          <td>9 999 999 €</td>
          <td>20%</td>
          <td>9 999 999 €</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div>
        <button id="printPageButton" onClick="window.print()">Print
      </button></div>

    </div>
  </div>



</div>
